<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <img th:src="@{/images/logo.png}"/>
    </div>
</div>
<div class="d-flex  justify-content-around m-3">
    <h2 class="text-center mt-3">게시판 목록</h2>
    <a class="text-center btn btn-primary mt-3" th:href="@{/boards/create}"> 게시판 추가</a>
</div>
<div class="bg-light mt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <th:block th:each="form : ${list}">
                <div class="col mb-3 mt-3">
                    <div class="card shadow-sm">
                        <img width="100%" height="225" class="border border-radius=10px rounded"
                             th:src="@{boards/image/{id}(id=${form.getImageId()})}">
                        <div class="card-body">
                            <div class="card-">
                                <h4 class="board-title" th:text="${form.getTitle()}">게시판 이름</h4>
                                <p th:text="${form.getDescription()}">게시판 설명</p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-outline-primary me-2"
                                   th:href="@{boards/put/{id}(id=${form.getBoardId()})}" th:text="'수정'"></a>
                                <a class="btn btn-outline-danger"
                                   th:href="@{boards/delete/{id}(id=${form.getBoardId()})}" th:text="'삭제'"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>